* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #fff;
}


/*
    =============
    HEADER
    =============
*/

header {
    background-color: #1a2538;
    font-size: 1.2em;
    width: 100%;
    padding: 0.8em 1.8em;
}

header h1 {
    display: inline;
}

header a {
    color: #fff;
    position: relative;
    top: -5px;
    margin: 0;
    margin-right: 0.5em;
}


/*
    =============
    SEARCH
    =============
*/

.search-wrapper {
    background-color: #1a2538;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.fa-search {
    position: absolute;
    top: 85px;
    left: 25px;
}

.search-wrapper input {
    background-color: transparent;
    font-size: 1em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 1.9em;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #fff;
}


/*
    =============
    LIST
    =============
*/

.box-station {
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1px;
    padding: 1em 2em;
    cursor: pointer;
}

.box-station:hover {
    background-color: #e0e0e0;
}

.station-details {
    display: inline-block;
}

.fa-map:hover {
    color: #000;
}